@model IEnumerable<MusicApp.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Popularity", "Index", new { sortOrder = ViewBag.PopuSortParm })
        </th>
        <th>
            @Html.ActionLink("Released", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameLongest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthLongest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Released)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameLongest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthLongest)
        </td>
    </tr>
}

</table>
