@model IEnumerable < Zirpl.Spotify.MetadataApi.Artist >
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Find your favorite artist</h2>
        @using (Html.BeginForm())
            {
            <p>
                Artist: @Html.TextBox("SearchString") <input type="submit" value="Search" />
            </p>
        }
    </div>

    <div class="col-md-4">
        <h2>Save info to DB</h2>
        <table class="table">
            <tr>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <th> @Html.DisplayNameFor(model => model.Popularity) </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Popularity)</td>
                    <td>@Html.ActionLink("Save", "Save", item)</td>
                </tr>
            }

        </table>

</div>
    <div class="col-md-4">
        <h2>Choose artist to display</h2>
        <p>You can choose one of the artists already downloaded and list all their albums, sorted by year. For each album listed you can see the average popularity of its tracks and the name and length of the longest track.</p>
    </div>
</div>





